.bottom-image-panel {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Push image to bottom */
    align-items: center;
    background-color: transparent; /* or any background you like */
    position: absolute;
    bottom: 0px;
  }
  
  .bottom-image {
    height: auto;
    max-height: 50%;
    width: auto;
    max-width: 50%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
  }
  .middle-image {
    height: auto;
    max-height: 75%;
    width: auto;
    max-width: 75%;
    object-fit: contain;
    position: absolute;
    bottom: 15vh;
  }
  

.red-rectangle {
    height: 50%;
    background-color: rgb(85, 22, 22);
    color: red;
    width: 100%;
    border: 5px solid #000000;
    box-sizing: border-box;
    position: absolute;
    top: 0;

}

.white-rectangle {
  height: 53%;
  background-color: rgb(148, 148, 148);
  color: rgb(255, 255, 255);
  width: 100%;
  border: 5px solid #000000;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.big-white-rectangle {
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 100%;
  border: 5px solid #000000;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  bottom: 0;
}



.info-text {
  font-size: 25px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  position: absolute;
  top: 12.5vh;

}
