/* Page Background */
.pokemon-description-page {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

/* Back Button */
.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}


/* Main Description Container */
.pokemon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start; /* Align items to the top */
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0 2rem 2rem 2rem; /* Removed top padding to fill the space */
  position: relative;
}

/* Top Background Rectangle */
.background-rectangle {
  height: 50%;
  background-color: #388e3c; /* A pleasant, vibrant green */
  color: #ffffff;
  width: 100%;
  border: 1px solid #2e7d32;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

/* Light Gray Rectangle (Overlay or Accent) at the bottom */
.Lgray-rectangle {
  height: 5%;
  background-color: #bdbdbd;
  color: #ffffff;
  width: 100%;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;   /* Center content vertically */
}

/* Pokémon Caught Indicator, positioned within the light gray rectangle */
.pokemon-caught-position {
  position: absolute;
  bottom: 5px; /* Adjusted to fit neatly within the bottom rectangle */
  left: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  z-index: 2;
}

/* Background Image inside the description (if used) */
.background-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Pokémon Image Styling */
.pokemon-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Pokémon Info Container */
.pokemon-info {
  display: flex;
  flex-direction: column;
}

/* Pokémon Title Styling */
.pokemon-title {
  font-size: 1rem;
  color: #424242;
}
